Repository pulp-platform/snitch_cluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paulsc96, @colluca, @fischeti, @lucabertaccini, @thommythomaso, @viv-eth

dnn: Enable multiple configuration testing
  sw/dnn/common.mk
  target/snitch_cluster/sw/apps/dnn/.gitignore
Owners: @colluca, @fischeti, @viv-eth

sw: Uniformize `DataGen` to dnn scripts writing to file not stdout
  sw/apps/atax/Makefile
  sw/apps/correlation/Makefile
  sw/apps/covariance/Makefile
  sw/blas/axpy/Makefile
  sw/blas/gemm/Makefile
  sw/blas/gemm/scripts/datagen.py
  sw/blas/gemm/scripts/verify.py
  util/sim/data_utils.py
Owners: @colluca, @fischeti, @viv-eth, @paulsc96

flashattention_2: Transpose V before P*V product
  sw/dnn/flashattention_2/src/flashattention_2.h
  sw/dnn/src/dnn.h
Owners: @colluca, @fischeti, @viv-eth

transpose: Verify multiple configurations
  target/snitch_cluster/sw/apps/dnn/transpose/test/cfg/fp16.json
  target/snitch_cluster/sw/apps/dnn/transpose/test/cfg/fp32.json
  target/snitch_cluster/sw/apps/dnn/transpose/test/cfg/fp64-base.json
  target/snitch_cluster/sw/apps/dnn/transpose/test/cfg/fp64-opt.json
  target/snitch_cluster/sw/apps/dnn/transpose/test/run.py
Owners: @colluca, @fischeti, @viv-eth

flashattention_2: Verify low-precision variants
  target/snitch_cluster/sw/apps/dnn/flashattention_2/test/cfg/fp16-base.json
  target/snitch_cluster/sw/apps/dnn/flashattention_2/test/cfg/fp16-opt.json
  target/snitch_cluster/sw/apps/dnn/flashattention_2/test/cfg/fp32-base.json
  target/snitch_cluster/sw/apps/dnn/flashattention_2/test/cfg/fp32-opt.json
Owners: @colluca, @fischeti, @viv-eth

`util/trace/annotate.py`: Skip performance metrics at end of file
  util/trace/annotate.py
Owners: @paulsc96, @colluca, @fischeti

Correct linting
  sw/dnn/transpose/scripts/verify.py
  sw/dnn/transpose/src/transpose.h
Owners: @colluca, @fischeti, @viv-eth

`gen_trace.py`: Fix crash on unsupported SIMD instructions
  util/trace/gen_trace.py
Owners: @paulsc96, @colluca, @fischeti

flashattention_2: Do not transpose K matrix in main memory
  sw/dnn/flashattention_2/scripts/datagen.py
  sw/dnn/flashattention_2/scripts/verify.py
  sw/dnn/flashattention_2/src/flashattention_2.h
Owners: @colluca, @fischeti, @viv-eth

traces: Add MiniFloat representation for RTL traces
  util/trace/gen_trace.py
  util/trace/opcodes-flt-occamy_CUSTOM.csv
Owners: @paulsc96, @colluca, @fischeti

sw: Fix warnings in build process
  sw/apps/atax/scripts/datagen.py
  sw/apps/correlation/scripts/datagen.py
  sw/apps/covariance/scripts/datagen.py
  sw/dnn/batchnorm/scripts/datagen.py
  sw/dnn/conv2d/scripts/datagen.py
  sw/dnn/conv2d/src/conv2d.h
  sw/dnn/fusedconv/scripts/datagen.py
  sw/dnn/maxpool/scripts/datagen.py
  sw/dnn/softmax/scripts/datagen.py
  sw/dnn/src/dnn.h
  sw/snRuntime/src/omp/kmp.c
  sw/tests/varargs_1.c
  sw/tests/varargs_2.c
  target/snitch_cluster/sw/tests/Makefile
Owners: @colluca, @fischeti, @viv-eth

flashattention_2: Optimized GEMM requires SSR setup on first iteration
  sw/dnn/flashattention_2/src/flashattention_2.h
Owners: @colluca, @fischeti, @viv-eth

flashattention_2: Add FP16 implementation
  sw/dnn/flashattention_2/src/flashattention_2.h
  sw/dnn/flashattention_2/src/flashattention_2_fp16.h
  sw/dnn/flashattention_2/src/flashattention_2_fp32.h
  target/snitch_cluster/sw/apps/dnn/flashattention_2/test/cfg/fp16-base.json
  target/snitch_cluster/sw/apps/dnn/flashattention_2/test/cfg/fp16-opt.json
Owners: @colluca, @fischeti, @viv-eth

Correct linting
  sw/blas/gemm/__init__.py
  sw/dnn/flashattention_2/scripts/datagen.py
  sw/dnn/flashattention_2/src/flashattention_2.h
  target/snitch_cluster/sw/apps/dnn/flashattention_2/test/run.py
Owners: @colluca, @fischeti, @viv-eth

flashattention_2: Add multiple config tests
  target/snitch_cluster/sw/apps/dnn/flashattention_2/test/.gitignore
  target/snitch_cluster/sw/apps/dnn/flashattention_2/test/cfg/fp32-base.json
  target/snitch_cluster/sw/apps/dnn/flashattention_2/test/cfg/fp32-opt.json
  target/snitch_cluster/sw/apps/dnn/flashattention_2/test/run.py
Owners: @colluca, @fischeti, @viv-eth

`gen_trace.py`: Reverse SIMD vectors such that LSB is rightmost
  util/trace/gen_trace.py
Owners: @paulsc96, @colluca, @fischeti

flashattention_2: Validate parameters for internal GEMM operations
  sw/dnn/flashattention_2/scripts/datagen.py
Owners: @colluca, @fischeti, @viv-eth

util/sim: Add test summary table title
  util/sim/sim_utils.py
Owners: @paulsc96, @colluca, @fischeti

flashattention_2: Generate same data in all precisions
  sw/dnn/flashattention_2/scripts/datagen.py
Owners: @colluca, @fischeti, @viv-eth

util/sim: Take time from last matching line in log
  util/sim/Simulation.py
Owners: @paulsc96, @colluca, @fischeti

sw: Add transpose layer
  sw/dnn/src/dnn.h
  sw/dnn/transpose/data/params.json
  sw/dnn/transpose/scripts/datagen.py
  sw/dnn/transpose/scripts/verify.py
  sw/dnn/transpose/src/main.c
  sw/dnn/transpose/src/transpose.h
  target/snitch_cluster/sw.mk
  target/snitch_cluster/sw/apps/dnn/transpose/Makefile
  target/snitch_cluster/sw/run.yaml
Owners: @colluca, @fischeti, @viv-eth, @paulsc96

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, global owners below will be
# requested for review when someone opens a pull request.

* @paulsc96 @colluca @fischeti

hw/snitch_cluster @paulsc96 @lucabertaccini
hw/snitch_dma @paulsc96 @thommythomaso

sw @colluca @fischeti @viv-eth
